@import '../variables.css';
@import '../animations.css';

@layer base {
  :root {
    font-size: 16px;
  }

  body {
    color: var(--text-color);
    background-color: #5a44bf;
  }

  .bg-home {
    @apply bg-cover absolute bottom-0 top-0 left-0 w-screen h-screen;
    background-position: 25% 75%;
    background-image: url('../../images/dog-violet.jpg');

    @supports (background-image: url('../../images/dog-violet.webp')) {
      background-image: url('../../images/dog-violet.webp');
    }
    animation: fadeIn 2s;
  }

  body.shop {
    background-color: #8c8ae6;
  }

  body.about {
    background-color: #927dc9;
  }

  body.contact {
    background-color: #2d0077;
  }

  a {
    font-size: 1rem;
  }

  p,
  h2 {
    font-family: Inter, sans-serif;
  }

  h1,
  h3 {
    font-family: 'Bionca Personal Use Only', sans-serif;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.5rem;
  }

  /*typography for mobiles with max-width of 768px*/
  @media screen and (max-width: 768px) {
    p {
      font-size: 0.938rem;
    }

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3.125rem;
      margin-bottom: 0.5rem;
    }
  }

  /*typography for tablets with min width of 768px*/
  @media screen and (min-width: 768px) {
    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 3.375rem;
      margin-bottom: 0.75rem;
    }
  }

  /*typography for desktop with min width of 1280px*/
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1.031rem;
    }

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
  }

  .default-page {
    @apply min-h-screen flex flex-col;
  }
}
